table {
    width: 100%;

    i {
        color: #424242;
        cursor: pointer;
        font-size: 20px;
        margin: 0 4px;

        &:hover {
            color: #3f51b5;
        }

        &.fa-trash-alt:hover {
            color: #f44336;
        }
    }
}